<div class="container">
  <h1 class="text-center mt-4"><%= @restaurant.name %></h1>
  <p>Find me in at <%= @restaurant.address %></p>
  <% @restaurant.reviews.each do |review| %>
    <div class="review-card">
      <% review.rating.times do %><%= 'â­ï¸' %><% end %>
      <%= review.content %>
    </div>
  <% end %>
</div>

